body {
    background: url(https://images.unsplash.com/photo-1494256997604-768d1f608cac?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=362a7baf8e58eab5f477b13befc0e62a&auto=format&fit=crop&w=801&q=80);
    background-size: cover;
    background-position: center; 
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: "Garamond";
    color: white;
}

h1 {
	font-weight: 700;
	font-size: 5em;
}


.content{
	padding-top: 25%;
	text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
